audioread==3.0.1
einops==0.8.1
encodec==0.1.1
fadtk==1.1.0
huggingface-hub==0.32.3
ipykernel==6.29.5
jupyter==1.1.1
laion_clap==1.1.7
librosa
llvmlite==0.44.0
matplotlib-inline==0.1.7
nnAudio==0.3.3
notebook==7.4.3
numba==0.61.2
numpy==1.26.4
pandas==2.2.3
pillow==11.2.1
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.3
sympy==1.14.0
tokenizers==0.21.1
torch
torchaudio
torchlibrosa
torchvision
tqdm==4.67.1
transformers==4.43
wandb==0.19.11
